{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Sliders
{% endblock %}


{% block content %}

    {{ slider_formset.management_form }}
    
    {% for val, form in slider_values_and_forms %}
        {{ val }} - {{ form }}
    {% endfor %}
    

    {% next_button %}

{% endblock %}

{% block scripts %}
    <script type="text/javascript">
    
        function set_touched(event) {
            var hidden_field_id = this.id.substring(0, this.id.length-9) + "touched";
            var touch_element = document.getElementById(hidden_field_id);
            touch_element.value = "True";
            this.removeEventListener('change', set_touched)
        }

        var values = [];

        {% for val in value_list %}
            values.push({{ val }});
        {% endfor %}

        var sliders = document.getElementsByClassName("form-control");

        for (i = 0; i < sliders.length; i++) {
            sliders[i].value = values[i];
            sliders[i].addEventListener('change', set_touched);
        }

    </script>
{% endblock %}
